@use "../../scss/colors.scss" as colors;
@use "../../scss/fonts.scss" as fonts;
@use "../../scss/screen.scss" as screen;

.card {
  width: 130px;
  height: 190px;
  background-color: colors.$crowshead;
  font-family: "Noto";
  display: flex;
  flex-direction: column;
  padding: 6px;

  @include screen.tablet {
    width: 190px;
    height: 270px;
    padding: 10px;
  }
  @include screen.desktop {
    width: 290px;
    height: 400px;
    padding: 20px;
  }
  a {
    .photo {
      width: 100%;
    }
  }

  .details {
    .name {
      color: colors.$whitecap;
      font-size: 0.75em;
      margin: 0px;
      margin-top: 0px;
      font-weight: 500;
      @include screen.tablet {
        font-size: 1em;
      }
      @include screen.desktop {
        font-size: 1.4em;
      }
    }
    .price {
      color: colors.$whitecap;
      font-size: 0.65em;
      margin: 0px;
      font-weight: 400;
      @include screen.tablet {
        font-size: 0.9em;
      }
      @include screen.desktop {
        font-size: 1.2em;
      }
    }

    .brand {
      color: colors.$grey;
      font-weight: 350;
      font-size: 0.65em;
      margin: 0px;
      @include screen.tablet {
        font-size: 0.9em;
      }
      @include screen.desktop {
        font-size: 1.2em;
      }
    }
  }
}
