@use "../../scss/colors.scss" as colors;
@use "../../scss/fonts.scss" as fonts;

.card {
  width: 130px;
  height: 190px;
  background-color: colors.$crowshead;
  font-family: "Noto";
  display: flex;
  flex-direction: column;
  padding: 6px;

  a {
    .photo {
      width: 100%;
    }
  }

  .details {
    .name {
      color: colors.$whitecap;
      font-size: 0.75em;
      margin: 0px;
      margin-top: 0px;
      font-weight: 500;
    }
    .price {
      color: colors.$whitecap;
      font-size: 0.65em;
      margin: 0px;
      font-weight: 400;
    }

    .brand {
      color: colors.$grey;
      font-weight: 350;
      font-size: 0.65em;
      margin: 0px;
    }
  }
}
