@use "../../scss/colors.scss" as colors;
@use "../../scss/fonts.scss" as fonts;
@use "../../scss/screen.scss" as screen;

.cartContainer {
  display: flex;
  justify-content: flex-end;
  .cartIcon {
    width: 35px;
    padding-right: 14px;
    padding-top: 8px;
    margin: 0px;
    @include screen.tablet {
      width: 60px;
      padding-right: 34px;
      padding-top: 18px;
    }
    @include screen.desktop {
      width: 60px;
      padding-right: 50px;
      padding-top: 20px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

a {
  text-decoration: none;
  color: colors.$mossy-gold;
}
.heading {
  @include fonts.heading;
  text-shadow: 2px 2px 2px black;
  @include screen.tablet {
    font-size: 3em;
  }
  @include screen.desktop {
    font-size: 4.7em;
  }
}
