// $thamar-black: #191919;
// $true-crimson: #9f2042;
// $berry-blue: #63768d;
// $clumsy-caramel: #d4b483;

$crowshead: #1a1611;
$whitecap: #fcfbfb;
$haute-couture: #9e2a2b;
$mossy-gold: #bdad82;
$trade-secret: #6a7b76;
$grey: rgb(153, 145, 144);
